version: '2'
services:
  
  #### Frontend Services
  
  api:  
    build: ./
    container_name: lumen_api
    restart: always
    depends_on: 
      - db
    volumes:  
      - ./code:/var/www/html
    ports:
      - 8000:8000
    networks:
      - frontend


  db:  
    image: mysql/mysql-server:5.7
    container_name: lumen_db
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel-db
      MYSQL_USER: lorenzo
      MYSQL_PASSWORD: root
    # volumes:  
    #   - ./db:/var/www/html
    ports:
      - 3316:3306
    networks:
      - frontend


  #### Backend Services

  queue_worker: 
    build: ./
    container_name: queue_worker
    restart: always
    volumes:  
      - ./code:/var/www/html
    ports:
      - 8020:8000
    networks:
      - backend

      

  ### Shared services

  redis:
    image: 'docker.io/bitnami/redis:6.0-debian-10'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    networks:
      - frontend
      - backend

      
networks:
  frontend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.21.0.0/16
  backend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.22.0.0/16
